@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 62.5%;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 7rem;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f5f5f5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.25rem;
}

.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
}

.brands .converse {
  margin-left: 1.5rem;
}

.brands :hover {
  opacity: 0.75;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
}

.links a {
  font-size: 0.725rem;
  margin-inline: 0.5rem;
  text-decoration: none;
  color: #111;
}

.links span {
  font-weight: bold;
}

.links :hover {
  opacity: 0.75;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .logo {
  opacity: 1;
}

.navbar .logo :hover {
  opacity: 0.725;
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-inline: auto;
  margin-left: 35.5rem;
}

.nav ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 1rem;
}

.nav ul li {
  margin-inline: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: 0rem;
}

.right-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-section .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f5f5f5;
  padding: 0.25rem 0 0.25rem 0;
  border-radius: 4rem;
  border: none;
}

.right-section .search input {
  border: none;
  background-color: #f5f5f5;
  font-size: 1rem;
  outline: none;
}

.right-section .search input :hover {
  background: red;
}

.right-section .search input::-webkit-input-placeholder {
  color: #bdbbbb;
}

.right-section .search input:-ms-input-placeholder {
  color: #bdbbbb;
}

.right-section .search input::-ms-input-placeholder {
  color: #bdbbbb;
}

.right-section .search input::placeholder {
  color: #bdbbbb;
}

.right-section .search button {
  width: 75%;
  padding-inline: 0.9rem;
  border: inherit;
  background-color: transparent;
}

.right-section .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-inline: 1rem;
}

.right-section .icons .cart-icon {
  margin-left: 1rem;
}

.banner-wrapper {
  background-color: #f5f5f5;
  width: 100%;
}

.banner-wrapper .text {
  padding: 0.35rem 0;
  text-align: center;
  line-height: 1.3rem;
}

.banner-wrapper .text span {
  display: block;
  font-size: 0.9rem;
}

.banner-wrapper .text a {
  font-size: 0.7rem;
}

.hero img {
  width: 100%;
  margin: 0 auto;
}

.hero-text {
  text-align: center;
  padding-block: 2rem;
}

.hero-text h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 3.7rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -0.2rem;
}

.hero-text h2 {
  margin-bottom: 2rem;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero-text .btn-section button {
  padding: 0.5rem 1.2rem;
  background-color: black;
  color: white;
  border-radius: 2rem;
}

.hero-text .btn-section button svg {
  margin-left: 10px;
}

.featured .text {
  font-size: 1.5rem;
  margin-block: 1rem;
}

.featured img {
  margin-right: 0.5rem;
  position: relative;
}

.selected .text {
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
/*# sourceMappingURL=style.css.map */