$color-light-gray: #f5f5f5;
$color-dark-gray: #111;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 62.5%;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}

.pre-container {
  background-color: $color-light-gray;
}

.wrapper {
  display: flex;
  background-color: $color-light-gray;
  justify-content: space-between;
  padding: 0.25rem;
  width: 100%;
}

.brands {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  opacity: 1;
  .converse {
    margin-left: 1.5rem;
  }
  :hover {
    opacity: 0.75;
  }
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  opacity: 1;
  a {
    font-size: 0.725rem;
    margin-inline: 0.5rem;
    text-decoration: none;
    color: $color-dark-gray;
  }
  span {
    font-weight: bold;
  }
  :hover {
    opacity: 0.75;
  }
}

// Navbar section

.navbar {
  display: flex;
  justify-content: space-between;
  .logo {
    opacity: 1;
    :hover {
      opacity: 0.725;
    }
  }
}

.nav-wrapper {
  display: flex;
  align-items: center;
  margin-inline: auto;
  margin-left: 46rem;
}

.nav ul {
  flex: 1;
  display: flex;
  list-style: none;
  font-size: 1rem;
  li {
    margin-inline: 1rem;
    display: flex;
    align-items: center;
    padding-inline: 0rem;
  }
}

.right-section {
  display: flex;
  align-items: center;
  .search {
    display: flex;
    background-color: $color-light-gray;
    padding: 0.25rem 0.5rem 0.25rem 0;
    border-radius: 4rem;
    border: none;
    input {
      border: none;
      background-color: $color-light-gray;
      font-size: 1rem;
      outline: none;
    }
    input::placeholder {
      color: rgb(189, 187, 187);
    }
    button {
      width: 75%;
      padding-inline: 0.9rem;
      border: inherit;
      background-color: transparent;
    }
  }

  .icons {
    display: flex;
    margin-inline: 1rem;
    cursor: pointer;
    .cart-icon {
      margin-left: 1rem;
      :hover {
        border-radius: 50%;
      }
    }
  }
}

// banner wrapper
.banner-wrapper {
  background-color: $color-light-gray;
  width: 100%;

  .text {
    padding: 0.35rem 0;
    text-align: center;
    line-height: 1.3rem;
    span {
      display: block;
      font-size: 0.9rem;
    }
    a {
      font-size: 0.7rem;
      text-decoration: none;
      color: black;
    }
  }
}

// hero img

.hero img {
  width: 100%;
  margin: 0 auto;
}

.hero-text {
  text-align: center;
  padding-block: 2rem;

  h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 3.7rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -0.2rem;
  }

  h2 {
    margin-bottom: 2rem;
  }
  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .btn-section {
    button {
      padding: 0.5rem 1.2rem;
      background-color: black;
      color: white;
      border-radius: 2rem;
      cursor: pointer;
      svg {
        margin-left: 10px;
      }
    }
  }
}

// featured

.featured {
  .text {
    font-size: 1.4rem;
    display: flex;
    padding-bottom: 1.5rem;
  }
  img {
    width: 50%;
    margin-right: 0.725rem;
  }
  .featured-images {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .featured-text {
    position: absolute;
    top: 80%;
    right: 87%;
    color: white;
    font-size: 1.6rem;
    inline-size: 12rem;
    font-weight: 400;

    button {
      margin-top: 2rem;
      background-color: white;
      padding: 0.5rem 1.25rem;
      color: black;
      border: none;
      border-radius: 4rem;
    }
    button:hover {
      background-color: rgb(164, 158, 158);
      cursor: pointer;
    }
  }
  .featured-text-2 {
    position: absolute;
    top: 80%;
    right: 36%;
    color: white;
    font-size: 1.6rem;
    inline-size: 14rem;
    color: black;
    font-weight: 400;

    button {
      margin-top: 2rem;
      background-color: white;
      padding: 0.5rem 1.25rem;
      color: white;
      border: none;
      border-radius: 4rem;
      background-color: black;
    }
    button:hover {
      background-color: rgb(164, 158, 158);
      cursor: pointer;
    }
  }
}

.selected {
  .text {
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  .selected-img {
    width: 100%;
    margin: 0 auto;
  }
}

.shoes {
  padding-top: 5rem;
  padding-bottom: 1rem;
  h2 {
    font-size: 1.5rem;
    font-weight: 400;
  }
  a {
    text-decoration: none;
  }
  .wrapper2 {
    display: flex;
    padding-bottom: 2rem;
  }
  .text-area {
    font-size: 1.4rem;
  }
  .btn-area {
    margin-left: auto;
    display: flex;
    align-items: center;
    .btn-light {
      display: flex;
      background-color: lightgray;
      padding: 1rem 1rem;
      align-items: center;
      border: none;
      font-weight: bold;
      font-size: 2rem;
      border-radius: 50%;
      opacity: 50%;
      height: 80%;
      margin-right: 1rem;
    }
    .btn-dark:hover {
      background-color: rgb(149, 142, 142);
      cursor: pointer;
    }
    .btn-dark {
      background-color: rgb(185, 180, 180);
      color: black;
      display: flex;
      padding: 1rem 1rem;
      align-items: center;
      border: none;
      font-weight: bold;
      font-size: 2rem;
      border-radius: 50%;
      opacity: 50%;
      height: 80%;
      margin-right: 1rem;
    }
  }
  .shoes-images {
    display: flex;
    justify-content: space-between;
  }
  img {
    width: 100%;
    margin-right: 1rem;
  }

  .shoe-1 {
    width: 100%;
    padding-inline: 0.5rem;
    .txt-info {
      display: flex;
      justify-content: space-between;
      padding-top: 1.25rem;
      font-size: 1.1rem;
    }
    .txt-category {
      padding-top: 0.5rem;
      font-size: 1.1rem;
      opacity: 75%;
    }
  }
}

.featured2 {
  padding-top: 8rem;
  .text {
    font-size: 1.4rem;
    display: flex;
    padding-bottom: 1.5rem;
  }
  img {
    width: 50%;
    margin-right: 0.725rem;
  }
  .featured-images {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .featured-text {
    position: absolute;
    top: 80%;
    right: 87%;
    color: white;
    font-size: 1.6rem;
    inline-size: 12rem;
    font-weight: 400;

    button {
      margin-top: 2rem;
      background-color: white;
      padding: 0.5rem 1.25rem;
      color: black;
      border: none;
      border-radius: 4rem;
    }
    button:hover {
      background-color: rgb(164, 158, 158);
      cursor: pointer;
    }
  }
  .featured-text-2 {
    position: absolute;
    top: 80%;
    right: 36%;
    color: white;
    font-size: 1.6rem;
    inline-size: 14rem;
    color: black;
    font-weight: 400;

    button {
      margin-top: 2rem;
      background-color: white;
      padding: 0.5rem 1.25rem;
      color: white;
      border: none;
      border-radius: 4rem;
      background-color: black;
    }
    button:hover {
      background-color: rgb(164, 158, 158);
      cursor: pointer;
    }
  }
}

.member-benefits {
  padding-top: 5rem;
  p {
    font-size: 1rem;
    letter-spacing: 1.2px;
  }
  .img-text-box {
    position: absolute;
    left: 20%;
    top: 60%;
    text-align: center;
  }
  img {
    width: 100%;
  }
  .txt-image {
    width: 100%;
    z-index: -1;
    position: relative;
  }
  .text-area {
    font-size: 1.4rem;
    padding-bottom: 2rem;
    position: relative;
  }
  button {
    margin-top: 2rem;
    margin-right: 0.5rem;
    background-color: white;
    padding: 0.5rem 1.5rem;
    color: white;
    border: none;
    border-radius: 4rem;
    background-color: black;
    font-size: 1.2rem;
  }
  button:hover {
    background-color: rgb(164, 158, 158);
    cursor: pointer;
  }
}
.small-container {
  padding: 0 30rem;
}
.navbar2 {
  color: #111;
  padding-top: 10rem;
  padding-block: 5rem;
  display: flex;
  justify-content: space-around;
  line-height: 2rem;
  h1 {
    font-size: 1.2rem;
    font-weight: normal;
    padding-bottom: 1rem;
  }
  li {
    list-style: none;
    font-size: 1rem;
  }
}

.footer {
  background-color: #111;
  width: 100%;
  height: 30vh;
  color: white;
}

.end-line {
  background-color: $color-light-gray;
  width: 100%;
  height: 4vh;
}
